header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
}

header .title {
  padding-left: 10px;
  font-size: 24px;
  float: left;
}

header .option {
  float: right;
}

header .last {
  clear: both;
}

.option li {
  list-style: none;
  float: left;
  padding-right: 25px;
  font-size: 20px;
}

.contents {
  padding-top: 25px;
}

.post_images ul {
  width:100%;
}

.post_images li {
  list-style: none;
  float:left;
  margin-right:20px;
  margin-bottom:20px;
  width:480px;
}
